<div class="p-3">
  <h2 class="text-center">Stupid Coaching</h2>
<div class="card m-3 p-2">
            <div class="d-flex flex-row justify-content-start">
              <div>
                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;"><%= @question %></p>
                <p class="small ms-3 mb-3 rounded-3 text-muted">You</p>
              </div>
            </div>
            <div class="d-flex flex-row justify-content-end mb-4 pt-1">
              <div>
                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary"><%= @answer %></p>
                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">Your coach</p>
              </div>
            </div>
<p class="text-center"><%= link_to "Ask a new question", ask_path  %></p>
            </div>
